<ion-content>
  <div class="card-wrapper">
    <ion-card>
      <ion-card-header>    
      </ion-card-header>
      <ion-card-content>
        <div class="content-wrapper">
          <p><strong>Hello there!</strong></p><br>

          <p>I'm Andreea, a passionate web developer based in Romania. Ever since I started working as a full stack developer, I'm constantly exploring new ways to create quality code and beutiful apps.</p><br>

          <p>With a background in Computer Science, I've honed my skills in programming and math. Whether it's crafting elegant code, designing captivating visuals, or solving complex problems, I thrive on challenges that push me to innovate and grow.</p><br>

          <p>Outside of work, you can often find me going to the gym or reading. I believe in the importance of a balanced life and carrier, and I strive to improve myself everyday.</p><br>

          <p>I'm excited to share my journey and experiences with you through this app. Feel free to reach out if you have any questions or just want to chat!</p><br>

          <p>Cheers!</p>
          
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>