<ion-content>
  <div *ngIf="ready" class="list-wrapper">
    <ion-list lines="full">
      <ion-item (click)="goToDetail(character)" *ngFor="let character of characters; let i = index;" button>
        <div class="item-wrapper" (mouseenter)="showDetails[i] = true" (mouseleave)="showDetails[i] = false">
          <div class="item-info">
            <img [src]="character.house.path" width="40px" height="40px">
            <span>{{ character.fullName }}</span>
          </div>
          <div class="item-navigate-info" [ngClass]="{'hover': showDetails[i] }">
            <span>Show details</span>
          </div>
        </div>    
      </ion-item>
    </ion-list>
  </div>
  <ion-spinner *ngIf="!ready"></ion-spinner>
</ion-content>
