<ion-app>
  <ion-split-pane  *ngIf="navigationService.pageTitle != 'Login'" contentId="main-content">
    <ion-menu contentId="main-content" side="end">
      <app-menu></app-menu>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-router-outlet *ngIf="navigationService.pageTitle == 'Login'"></ion-router-outlet>
</ion-app>

<ion-header>
  <ion-toolbar *ngIf="navigationService.pageTitle != 'Login'" >
    <div class="toolbar-wrapper">
      <ion-title>{{ navigationService.pageTitle }}</ion-title>
      <ion-menu-toggle>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-toggle>
    </div>
  </ion-toolbar>
</ion-header>
