<ion-app>
  <ion-split-pane *ngIf="(authenticated | async)" contentId="main-content">
    <ion-menu contentId="main-content" side="end">
      <app-menu></app-menu>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-router-outlet *ngIf="!(authenticated | async)"></ion-router-outlet>
</ion-app>

<ion-header>
  <ion-toolbar *ngIf="(authenticated | async)" >
    <div class="toolbar-wrapper">
      <ion-title>{{ navigationService.pageTitle }}</ion-title>
      <ion-menu-toggle>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-toggle>
    </div>
  </ion-toolbar>
</ion-header>
